<div class="box-header">Upload Mapper JSON File</div>

<div>
    <form enctype="multipart/form-data" class="form-horizontal" modelattribute="uploadRequest"
          action="../commcare-mrs-mapper/upload" method="POST">
        <h3 class="control-group"> JSON File</h3>

        <div>
            <label class="control-label" for="jsonFile">Upload the file</label>

            <span class="controls">
                <input type="file" id="jsonFile" name="jsonFile" required accept="application/json"/>
            </span>

            <input type="submit" class="btn btn-primary" value="upload"/>
        </div>
    </form>
</div>

<div id="mappings">
    <h2>Total Mappings: {{mappings.length}}</h2>

    <div ng-switch="message != null">
        <div ng-switch-when="true" class="alert alert-success">{{message}}</div>
    </div>
    <div ng-switch="error != null">
        <div ng-switch-when="true" class="alert alert-danger">{{error}}</div>
    </div>

    <table class="table table-hover">
        <tr ng-repeat="mapping in mappings">
            <td>{{mapping.xmlns}} [Version={{mapping.version}}]</td>
            <td><input type="button" class="btn btn-danger" value="Delete" ng-click="deleteMapping(mapping._id)"/>
            </td>
        <tr>
    </table>

    <input type="button" class="btn btn-danger" value="Delete All Mappings" ng-click="deleteAllMappings()">
</div>
